*.ts text eol=lf
*.tsx text eol=lf
*.mjs text eol=lf
*.mts text eol=lf
*.json text eol=lf
*.css text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
.env.example text eol=lf
/apps/**/*.html text eol=lf
/packages/ui/THIRD-PARTY-NOTICES.md text eol=lf
